<div class="tab-pane text-center" id="projects">
  <div class="row">
    <div class="col-md-6">
      <div id="resume">
        <h3>v1 Portfolio</h3>
        <div id="about">
          <p>This is the first version of my portfolio I made using Google's Polymer framework.
          </p>
        </div>
        <div class="" id="project-photo">
          <a href="https://github.com/Akashaslc/resume-polymer">
            <img src="http://res.cloudinary.com/akashaslc/image/upload/q_auto:best/v1495835340/Screen_Shot_2017-05-26_at_3.48.22_PM_cnlvz2.png"
              alt="Rounded Image" class="img-rounded img-responsive img-raised">
          </a>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div id="mj">
        <h3>Charity Organization</h3>
        <div id="about">
          <p>The Martin Jahnsen Foundation is a charity for which I created a website using Google's Polymer framework.
          </p>
        </div>
        <div class="" id="project-photo">
          <a href="https://github.com/Akashaslc/martinjahnsenfoundation">
            <img src="http://res.cloudinary.com/akashaslc/image/upload/q_auto:best/v1495834060/Screen_Shot_2017-05-26_at_3.16.52_PM_ibnfhs.png"
              alt="Rounded Image" class="img-rounded img-responsive img-raised">
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <div id="luna">
        <h3>Luna</h3>
        <div id="about">
          <p>Luna is a project I created to learn the basics of the threeJS library and how to implement it within SailsJS and
            AngularJS.
          </p>
        </div>
        <div class="" id="project-photo">
          <a href="https://github.com/Akashaslc/luna">
            <img src="http://res.cloudinary.com/akashaslc/image/upload/q_auto/v1494781548/luna_uoutsa.jpg" alt="Rounded Image" class="img-rounded img-responsive img-raised">
          </a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="" id="glados">
        <h3>GlaDOS</h3>
        <div id="about">
          <p>GlaDOS is an interactive art installation that utilizes Sails, Angular, and Node to allow users to manipulate the
            LED colors and modes.</p>
        </div>
        <div id="project-photo">
          <a href="https://github.com/Akashaslc/eyesight">
            <img src="http://res.cloudinary.com/akashaslc/image/upload/q_auto/v1494781546/glados_od66rj.jpg" alt="Rounded Image" class="img-rounded img-responsive img-raised">
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6">

      <div class="" id="heart">
        <h3>Auric Heart</h3>
        <div id="about">
          <p>The Auric Heart is an interactive art installtion that takes a users pulse and flashes a six foot tall LED heart
            red to that rate.</p>
        </div>
        <div id="project-photo">
          <a href="https://github.com/Akashaslc/auricHeart">
            <img src="http://res.cloudinary.com/akashaslc/image/upload/q_auto/v1494781548/heart_b7xbha.jpg" alt="Rounded Image" class="img-rounded img-responsive img-raised">
          </a>
        </div>
      </div>

    </div>
    <div class="col-sm-6">

      <div class="" id="solarsystem">
        <h3>Solar System</h3>
        <div id="about">
          <p>This solar system is a project I created to learn the basics of the GsapJS library and how to implement it within
            SailsJS and AngularJS.</p>
        </div>
        <div id="project-photo">
          <a href="https://github.com/Akashaslc/Solar-System">
            <img src="http://res.cloudinary.com/akashaslc/image/upload/q_auto/v1494781547/solar_ttvocc.jpg" alt="Rounded Image" class="img-rounded img-responsive img-raised">
          </a>
        </div>
      </div>

    </div>
  </div>
</div>
