<div class="section landing-section" id="contact">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h2 class="text-center title">Contact Me!</h2>
      <form class="contact-form" (submit)="onSubmit()">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group label-floating">
              <label class="control-label">Your Name</label>
              <input type="text" [(ngModel)]="name" name="name" class="form-control">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group label-floating">
              <label class="control-label">Your Email</label>
              <input type="email" [(ngModel)]="email" name="email" class="form-control">
            </div>
          </div>
        </div>

        <div class="form-group label-floating">
          <label class="control-label">Your Message</label>
          <textarea class="form-control" [(ngModel)]="textarea" name="textarea" rows="4"></textarea>
        </div>

        <div class="row">
          <div class="text-center">
            <button type="submit" class="btn btn-success btn-raised" value="Submit">
											Send Message
										</button>
          </div>
        </div>
      </form>
    </div>
  </div>

</div>
