<div class="section landing-section" id="contact">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h2 class="text-center title">Contact Me!</h2>
      <form class="contact-form" (submit)="onSubmit()" #contactForm="ngForm">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group label-floating">
              <label class="control-label" for="name">Your Name</label>
              <input type="text" id="name" [(ngModel)]="name" name="name" class="form-control" required>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group label-floating">
              <label class="control-label" for="email">Your Email</label>
              <input type="email" id="email" class="form-control" [(ngModel)]="email" name="email" required>
            </div>
          </div>
        </div>

        <div class="form-group label-floating">
          <label class="control-label" for="textarea">Your Message</label>
          <textarea class="form-control" id="textarea" [(ngModel)]="textarea" name="textarea" rows="5" required></textarea>
        </div>

        <div class="row">
          <div class="text-center">
            <button type="submit" class="btn btn-success btn-raised">
											Send Message
										</button>
          </div>
        </div>
      </form>
    </div>
  </div>

</div>
